.git
.vscode
.dockerignore
.editorconfig
.eslintrc.json
.gitignore
docker-compose.yml
Dockerfile
node_modules
npm-debug.log
build_container.sh
remove_container.sh
docs/mongodb_docker
docs/mongodb_docker/*
docs/dump
docs/dump/*
docs/mongodb
docs/mongodb/*
docs/postman
docs/postman/*